{% extends "base.html" %}

{% block title %}
<title>Про курсы</title>
{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Про курсы</h1>
    <p>В этом материале обсудим страницу «О компании», которая точно есть на вашем сайте. На этой странице интернет-магазина вы рассказываете о том, сколько лет существует магазин, о качестве ваших товаров и услуг, о политике и стратегии интернет-магазина. Но чаще всего подобные страницы оформлены очень шаблонно, а такой подход способен только навредить.<p>
</div>
{% endblock %}